
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Index</title>
    <style>
        table {
            width: 500px; /* Ширина таблицы */
            border: 1px solid green; /* Рамка вокруг таблицы */
            margin: auto; /* Выравниваем таблицу по центру окна  */
        }

        td {
            text-align: center; /* Выравниваем текст по центру ячейки */
        }
    </style>
</head>
<body>
    <table><tr><td>Tables List</td></tr> </table>
    <table>

        <tr>
            <td><a href="https://localhost:5001/home/Description">Description</a></td>
            <td><a href="https://localhost:5001/home/ShowMovies">Show Movies</a></td>
            <td><a href="https://localhost:5001/home/ShowActors">Show Actors</a></td>
            <td><a href="https://localhost:5001/home/ShowDirectors">Show Directors</a></td>
            <td><a href="https://localhost:5001/home/ShowGenres">Show Genres</a></td>
        </tr>

    </table>
</body>
</html>
