
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Index</title>
    <style>
        table {
            width: 300px; /* Ширина таблицы */
            border: 1px solid green; /* Рамка вокруг таблицы */
            margin: auto; /* Выравниваем таблицу по центру окна  */
        }

        td {
            text-align: center; /* Выравниваем текст по центру ячейки */
        }
    </style>
</head>
<body>
    <table>

        <tr>
            <td>This is Test Index Page</td>
            <td><a href="https://localhost:5001/home/TestMethod">TestMethod</a></td>
        </tr>
  
    </table>
</body>
</html>
