@using MyProject.Models
@using MyProject.Controllers
@using System.Text.Encodings.Web;

<head>
    <title>Test Method</title>
</head>
<body>
    <table>

        <tr>
            @ViewBag.name
        </tr>


    </table>
</body>

